.information__subtitle{
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #153051;
    margin-bottom: 50px;
}

.information__subtitle-link{
    text-decoration: none;
    color: #2f74c8;
}

.information__search{
   text-align: center;
   margin-bottom: 154px;
}

.information__search-input{
    width: 100%;
    max-width: 359px;
    height: 100%;
    max-height: 52px;
    background: #FFFFFF;
    border: 2px solid #FFDB21;
    border-radius: 4px;
    padding-left: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    outline: none;
}

.information__search-btn{
    width: 171px;
    height: 52px;
    background: #FFDB21;
    border-radius: 4px;
    border: none;
    margin-left: -10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}

@media (max-width:1024px) {
    .title__section{
        display: block;
        text-align: center;
        font-weight: 900;
        font-size: 57px;
        line-height: 70px;
        color: #153051;
        margin-bottom: 50px;
    }
}

@media (max-width:768px) {
    .information__subtitle{
        display: block;
        text-align: center;
        font-weight: 300;
        font-size: 22px;
        line-height: 34px;
        color: #153051;
        margin-bottom: 50px;
    }
}

@media (max-width:425px) {
    .title__section{
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #153051;
        margin-bottom: 20px;
    }

    .information__subtitle{
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #153051;
        margin-bottom: 20px;
    }

    .information__subtitle-link{
        text-decoration: none;
        color: #2f74c8;
    }

    .information__search{
        text-align: center;
        margin-bottom: 66px;
    }

    .information__search-input{
        width: 100%;
        max-width: 177px;
        height: 100%;
        max-height: 44px;
        background: #FFFFFF;
        border: 2px solid #FFDB21;
        border-radius: 4px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 11px;
        padding-right: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        outline: none;
    }

    .information__search-btn{
        width: 113px;
        height: 42px;
        background: #FFDB21;
        border-radius: 4px;
        border: none;
        margin-left: -10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        cursor: pointer;
    }
}