.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #153051;
    margin-bottom: 154px;
    padding-top: 37px;
    padding-bottom: 36px;
}

.header__nav-mobile {
    display: none;
}

.header__burger{
    display: none;
}

.header__logo-link{
    width: 100%;
    max-width: 210px;
    height: 100%;
    max-height: 55px;
}

.header__logo-img{
    width: 100%;
    max-width: 210px;
    height: 100%;
    max-height: 55px;
}

.header__nav{
    display: flex;
}

.header__nav-list{
    display: flex;
}

.nav__item{
    display: flex;
    align-items: center;
}

.nav__item-text{
    white-space: nowrap;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-right: 12px;
    cursor: pointer;
    color: #1e3653;
}

.nav__item-img{
    margin-right: 48px;
    cursor: pointer;
}

.header__btn{
    width: 100%;
    max-width: 171px;
    height: 100%;
    max-height: 52px;
    color: #FFFFFF;
    background: #153051;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    white-space: nowrap;
}
@media (max-width: 768px){
    .header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #153051;
        margin-bottom: 40px;
        padding-top: 37px;
        padding-bottom: 36px;
    }

    .header__nav-mobile {
        display: none;
    }

    .header__burger{
        display: none;
    }

    .header__logo-link{
        display: block;
        width: 100%;
        max-width: 190px;
        height: 100%;
        max-height: 55px;
    }

    .header__logo-img{
        width: 100%;
        max-width: 190px;
        height: 100%;
        max-height: 55px;
    }

    .header__nav{
        display: flex;
    }

    .header__nav-list{
        display: flex;
    }

    .nav__item{
        display: flex;
        align-items: center;
    }

    .nav__item-text{
        white-space: nowrap;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-right: 8px;
        cursor: pointer;
        color: #1e3653;
    }

    .nav__item-img{
        margin-right: 20px;
        cursor: pointer;
    }

    .header__btn{
        width: 100%;
        max-width: 160px;
        height: 100%;
        max-height: 48px;
        color: #FFFFFF;
        background: #153051;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 11px;
        padding-left: 20px;
        padding-right: 20px;

        white-space: nowrap;
    }
}

@media (max-width: 425px) {
    .header__container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #153051;
        margin-bottom: 154px;
        padding-top: 37px;
        padding-bottom: 36px;
    }

    .header__nav-mobile {
        display: none;
    }

    .header__burger{
        display: block;
        position: absolute;
        left: 26px;
        cursor: pointer;
    }

    .header__logo-link{
        width: 100%;
        max-width: 178px;
        height: 100%;
        max-height: 47px;
    }

    .header__logo-img{
        width: 100%;
        max-width: 178px;
        height: 100%;
        max-height: 47px;
    }

    .header__nav{
        display: none;
    }

    .header__nav-list{
        display: flex;
    }

    .nav__item{
        display: flex;
        align-items: center;
    }

    .nav__item-text{
        white-space: nowrap;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        margin-right: 12px;
        cursor: pointer;
        color: #1e3653;
    }

    .nav__item-img{
        margin-right: 48px;
        cursor: pointer;
    }

    .header__btn{
        width: 100%;
        max-width: 171px;
        height: 100%;
        max-height: 52px;
        color: #FFFFFF;
        background: #153051;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        cursor: pointer;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 24px;

        white-space: nowrap;
    }
}