.footer__container{
    background: linear-gradient(0deg, #1A2430, #1A2430), #4D627C;
}

.footer__title{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.footer__link__list{
    margin-bottom: 15px;
}

.footer__link{
    text-decoration: none;
    color: #9AAABD;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__title__list{
    display: inline-block;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.44px;
}

.footer__link__list__title__img{
    display: none;
}

.footer__link__btn{
    width: 162px;
    height: 52px;
    border-radius: 4px;
    background: #2F74C8;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn__link__second{
    background: #FFDB21;
    color: #153051;
}

.footer__copyright{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 55px;
}

.footer__copyright-text{
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6F8196;
    margin-right: 30px;
}

@media (max-width:1024px) {

}

@media (max-width:768px) {

}

@media (max-width:425px) {

}