.container__specialized{
    margin-bottom: 109px;
}

.specialized__subtitle{
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    color: #153051;
    margin-bottom: 70px;
}

.specialized__wrapper{
    display: flex;
}

.specialized__list-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 270px;
    margin-right: 33px;
}

.specialized__btn-left{
    display: block;
    position: relative;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    background: linear-gradient(0deg, #1A2430, #1A2430), #4D627C;
    box-shadow: inset 0px -1px 0px #050D16;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #CDD9E8;
    border: none;
    cursor: pointer;
}

.specialized__btn-left:last-child{
    box-shadow: none;
}

.specialized__btn-left.specialized__left-pointer:hover{
    color: #153051;
    background: #FFDB21;
}

.specialized__left-pointer::after{
    position: absolute;
    left: 97%;
    bottom: 50%;
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
}

.specialized__list-right{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.specialized__item-right{
    list-style-type: decimal;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 24px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.44px;
    color: #153051;
}

@media (max-width:1024px) {
    .container__specialized{
        margin-bottom: 90px;
    }
}

@media (max-width:768px) {
    .container__specialized{
        margin-bottom: 60px;
    }
}

@media (max-width:425px) {
    .container__specialized{
        margin-bottom: 30px;
    }
    
    .specialized__subtitle{
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #153051;
        margin-bottom: 20px;
    }
    
    .specialized__wrapper{
        display: flex;
        flex-direction: column;
    }
    
    .specialized__list-left{
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100px;
        height: 100%;
        max-height: 50px;
        margin-right: 33px;
    }
    
    .specialized__btn-left{
        display: block;
        position: relative;
        white-space: nowrap;
        padding-left: 20px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        background: linear-gradient(0deg, #1A2430, #1A2430), #4D627C;
        box-shadow: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #CDD9E8;
        border: none;
        cursor: pointer;
    }
    
    .specialized__btn-left:hover{
        color: #153051;
        background: #FFDB21;
    }
    
    .specialized__left-pointer::after{
        position: absolute;
        left: 97%;
        bottom: 50%;
        display: block;
        content: "";
        width: 18px;
        height: 18px;
        transform: rotate(45deg);
    }
    
    .specialized__list-right{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 7px;
    }
    
    .specialized__item-right{
        list-style-type: decimal;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 30px;
        padding-left: 19px;
        margin-left: 19px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #153051;
    }
}